# /etc/systemd/system/orchestrator.service
[Unit]
Description=Secux Linux Orchestrator
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=server
Group=server
ExecStart=/usr/bin/python3 /home/server/orchestrator.py

ProtectSystem=strict
ReadWritePaths=/srv/arch-mirror
ReadWritePaths=/home/server/git-creds
ProtectHome=tmpfs
BindPaths=/home/server/.gnupg
BindPaths=/home/server/orchestrator.py
BindPaths=/home/server/incoming
BindPaths=/home/server/hf-repo
BindPaths=/home/server/.gitconfig
BindPaths=/home/server/git-creds
PrivateTmp=true

PrivateDevices=yes
DeviceAllow=
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectClock=yes
ProtectHostname=yes
ProtectControlGroups=yes

NoNewPrivileges=yes
CapabilityBoundingSet=
RestrictSUIDSGID=yes
LockPersonality=yes

RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
IPAccounting=yes

SystemCallFilter=@system-service
SystemCallFilter=~@privileged @resources
SystemCallArchitectures=native
MemoryDenyWriteExecute=yes

RestrictNamespaces=yes
RestrictRealtime=yes
RemoveIPC=yes
ProtectProc=invisible
ProcSubset=pid

[Install]
WantedBy=multi-user.target
